# ==========================
# Python
# ==========================
backend/.venv/
**/__pycache__/
*.py[cod]
*.pyo

# ==========================
# Environment Variables
# ==========================
backend/.env

# ==========================
# Django
# ==========================
backend/db.sqlite3
backend/media/
backend/staticfiles/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Windows
# ==========================
Thumbs.db